.wrap{
    width: 80%;
    margin: 0 auto;
    border: 1px dashed #ccc;
}
.wrap section[class^='box']{
    width: 23%;
    margin: 1%;
    height: 200px;
    background-color: #ccc;
    float: left;
}
.wrap section:nth-child(2n){
    background-color: pink;
}
.clearFix::after{
    content: '';
    display: block;
    clear: both;
}
